@model IEnumerable<MVC5Course.Models.OrderLine>
@{
    if (IsAjax)
    {
        Layout = "";
    }
}
<h2>OrderLines</h2>

@using (Ajax.BeginForm("Index", "OrderLines", new { productId = ViewBag.productId }, new AjaxOptions() { UpdateTargetId = "details" }))
{
    <div>
        OrderStatus: @Html.DropDownList("OrderStatus", null, "請選擇訂單狀態", new { onchange = "$(this.form).trigger('submit');" })
    </div>
}

<img id="loading" style="display:none" src="~/Content/ajax-loader.gif" alt="" />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LineTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.OrderStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LineTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.OrderStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProductName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Ajax.ActionLink("Delete", "Delete", 
            new { 
                OrderId = item.OrderId, 
                LineNumber = item.LineNumber,
                OrderStatus = ViewBag.OrderStatusSelected
            }, 
            new AjaxOptions() { 
                UpdateTargetId="details", 
                Confirm = "你確定嗎？",
                LoadingElementId = "loading",
                OnSuccess = "GetResult",
                HttpMethod = "POST" })
        </td>
    </tr>
}

</table>

<script>
    function GetResult(data) {
        console.log(data);
    }
</script>